{% extends 'base.html' %}
{% block title %}
    Register With stitch
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:black">
            {{ form.hidden_tag() }}

            <br>

            <img class="mb-4" src="https://dcassetcdn.com/design_img/3666577/122073/122073_21153742_3666577_d4608d30_image.png" alt="" width='200' height='200'>
            <h1 class="h3 mb-3 font-weight-normal">
                Please Create your Account
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}
           
            {{ form.first_name.label() }}
            {{ form.first_name(class="form-control", placeholder="First Name") }}

            {{ form.last_name.label() }}
            {{ form.last_name(class="form-control", placeholder="Last Name") }}

            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder="Email Address") }}

            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="Password") }}

            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="Confirm Password") }}

            <br>

            <div class="checkbox mb-3">
               <h6>Already have an account?</h6>
               <a class="btn btn-outline-danger btn-light" href="{{ url_for('login_page') }}">Login</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-danger") }}
             
            <br>
            <br>

        </form>
    </div>
</body>
{% endblock %}